@font-face {
    font-family: 'Baskervville';
    src: local('Baskervville Regular'), url(https://assets.mythmancer.com/LibreBaskerville-Regular.ttf) format('truetype');
}

:root {
    /* Character colors adjust dynamically */
    --cs-color-character-bg: #000000;
    --cs-color-character-text: #ffffff;

    /* Constants */
    --cs-color-btn: #989898;
    --cs-color-btn-text: #000000;
    --cs-height-min: 24px;
    --cs-gap: 5px;
    --cs-padding: 5px;

    --cs-width-tooltip-offset: 16px;
    --cs-width-fixed-short-key: 60px;
    --cs-max-width-tooltip: 400px;

    /* Programmatically set properties:
    The following based on color mode:
      * --cs-color-bg
      * --cs-color-section-bg
      * --cs-color-text
      * --cs-color-btn-text
      * --cs-color-text-deemphasized

    The following based on theme:
      * --cs-font
      * --cs-font-size-lg
      * --cs-font-size-std
      * --cs-font-size-sm
      * --cs-width-divider-left
    */
}

body.character-sheet {
    font-family: var(--cs-font), serif;
    font-size: var(--cs-font-size-std);
    overflow: clip;
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    color: var(--cs-color-text);
    background-color: var(--cs-color-bg);
}

/* Main page is split into left navigation pane and right content pane */
#cs-container {
    display: flex;
    overflow: clip;
    flex-direction: row;
    height: 100%;
}

#cs-left-pane {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

#cs-right-pane {
    display: flex;
    overflow: clip;
    flex-direction: column;
    width: 100%;
}

/* LEFT PANE */
#cs-mythmancer-title {
    font-size: var(--cs-font-size-lg);
    text-align: center;
}

.cs-left-pane-heading-row {
    display: flex;
    flex-direction: row;
}

.cs-border-right {
    border-right: 1px solid var(--cs-color-character-bg);
}

.cs-heading {
    width: fit-content;
    white-space: nowrap;
}

.cs-heading-decor-left {
    width: 100%;
    margin-right: 5px;
}

.cs-heading-decor-right {
    width: 100%;
    margin-left: 5px;
}

.cs-left-pane-listing {
    overflow: clip;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cs-character-listing-current {
    color: var(--cs-color-character-text);
    background-color: var(--cs-color-character-bg);
}

/* RIGHT PANE */
#cs-current-character {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#cs-current-character-heading {
    font-size: var(--cs-font-size-lg);
    position: sticky;
    z-index: 10;
    top: 0;
    color: var(--cs-color-character-text);
    background-color: var(--cs-color-character-bg);
}

.cs-panels {
    display: flex;
    overflow: clip;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.cs-panel {
    overflow: scroll;
}

.cs-section {
    background-color: var(--cs-color-section-bg);
    padding-top: var(--cs-gap);
    padding-bottom: var(--cs-gap);
    border-radius: 5px;
}

/* CONSTANTS */
.cs-color-character-bg {
    background: var(--cs-color-character-bg)
}

.cs-color-btn {
    background: var(--cs-color-btn);
    color: var(--cs-color-btn-text);
}

.cs-font-size-sm {
    font-size: var(--cs-font-size-sm);
}

.cs-font-color-character {
    color: var(--cs-color-character-text)
}

.cs-font-color-deemphasized {
    color: var(--cs-color-text-deemphasized);
}

/* LAYOUT */
.cs-col {
    /* Flex Column */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: var(--cs-gap);
}

.cs-row {
    /* Flex Row */
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: var(--cs-gap);
}

.cs-elem {
    /* Flex Element, should only contain simple contents such as text */
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: var(--cs-height-min);
}

.cs-padding-h {
    /* Horizontal Padding, prefer gap in flex rows and columns in most cases */
    box-sizing: border-box; /* prevents overflow */
    padding-right: var(--cs-padding);
    padding-left: var(--cs-padding);
}

.cs-padding-v {
    /* Vertical Padding, prefer gap in flex rows and columns in most cases */
    padding-top: var(--cs-padding);
    padding-bottom: var(--cs-padding);
}

.cs-width-fixed-short-key {
    /* Fixed width for short keys in entries */
    width: var(--cs-width-fixed-short-key);
    min-width: var(--cs-width-fixed-short-key);
}

.cs-width-fill {
    /* Used to allow elements to grow as much as required to prevent line breaks */
    flex-shrink: 0;
}

.cs-width-full {
    /* Used to cause an element to take up as much width as possible */
    width: 100%;
}

.cs-width-divider-left {
    /* Width of the left side of the section divider */
    width: var(--cs-width-divider-left);
    min-width: var(--cs-width-divider-left);
}

/* COMPONENTS */
.arrow-line {
    /* Base component for horizontal arrows, must be paired with either arrow-line-left or arrow-line-right */
    position: relative;
    display: flex;
    align-items: center;
    height: 1px;
    background-color: var(--cs-color-character-bg);
}

.arrow-line::after {
    /* Arrowhead for horizontal arrows */
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    border-top: var(--cs-arrow-height) solid transparent;
    border-bottom: var(--cs-arrow-height) solid transparent;
}

.arrow-line-left::after {
    /* When paired with arrow-line, draws an arrow pointing to the left */
    left: 0;
    border-left: var(--cs-arrow-width) solid var(--cs-color-character-bg); /* Adjust the color and size of the arrow */
}

.arrow-line-right::after {
    /* When paired with arrow-line, draws an arrow pointing to the right */
    right: 0;
    border-right: var(--cs-arrow-width) solid var(--cs-color-character-bg); /* Adjust the color and size of the arrow */
}

.cs-btn {
    /* Button, should be paired with a color */
    display: flex;
    align-items: center;
    height: var(--cs-height-min);
    cursor: pointer;
    user-select: none;
    transition: brightness 0.1s ease, filter 0.1s ease;
    border-radius: 2px;
    filter: brightness(150%);
}

.cs-btn:hover {
    filter: brightness(100%);
}

.cs-btn:active {
    scale: 95%;
}

.cs-filler-h {
    width: 100%;
}

.cs-filler-v {
    height: 100%;
}

/* tooltips */
.cs-has-tooltip {
    /* Component containing a tooltip */
    position: absolute;
    display: inline-block;
}

.cs-has-tooltip .cs-tooltiptext {
    font-size: var(--cs-font-size-sm);
    position: absolute;
    z-index: 10;
    bottom: calc(var(--cs-height-min) + var(--cs-padding));
    left: var(--cs-width-tooltip-offset);
    visibility: hidden;
    width: max-content;
    max-width: var(--cs-max-width-tooltip);
    padding: var(--cs-padding);
    transition: visibility 0s linear 0.5s;
    color: var(--cs-color-bg);
    border-radius: 2px;
    background-color: var(--cs-color-text);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.cs-has-tooltip:hover .cs-tooltiptext {
    visibility: visible;
}

.cs-has-tooltip .cs-tooltiptext::before {
    /* Draws a triangle on the corner of the tooltip to resemble a quote box */
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    border-top: 6px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 6px solid var(--cs-color-text);
}
