@font-face {
    font-family: 'Baskervville';
    src: local('Baskervville Regular'), url(https://assets.mythmancer.com/LibreBaskerville-Regular.ttf) format('truetype');
}

:root {
    --cs-color-accent: #8386CC;
    --cs-color-bg: white;
    --cs-color-btn: #989898;
    --cs-color-text: black;
    --cs-color-text-deemphasized: #5e5e5e;
    --cs-font-size-lg: 24px;
    --cs-font-size-std: 16px;
    --cs-font-size-sm: 12px;
    --cs-height-min: 24px;
    --cs-gap: 5px;
    --cs-padding: 5px;
    --cs-width-divider-left: 12px;
    --cs-width-fixed-short-key: 60px;

    --cs-color-debug-col: cyan;
    --cs-color-debug-row: magenta;
    --cs-color-debug-elem: yellow;
}

body.character-sheet {
    margin: 0 !important;
    width: 100%;
    height: 100vh;
    background-color: var(--cs-color-bg);
    color: var(--cs-color-text);
    font-family: Baskervville, serif;
    font-size: var(--cs-font-size-std);
    overflow: clip;
}

/* Main page is split into left navigation pane and right content pane */
#cs-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: clip;
}

#cs-left-pane {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--cs-color-accent);
    overflow: scroll;
}

#cs-right-pane {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* LEFT PANE */
#cs-mythmancer-title {
    text-align: center;
    font-size: var(--cs-font-size-lg);
}

.cs-left-pane-heading-row {
    display: flex;
    flex-direction: row;
}

.cs-border-right {
    border-right: 1px solid var(--cs-color-btn);
}

.cs-heading {
    width: fit-content;
    white-space: nowrap;
}

.cs-heading-decor-left {
    width: 100%;
    margin-right: 5px;
}

.cs-heading-decor-right {
    width: 100%;
    margin-left: 5px;
}

.cs-left-pane-listing {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.cs-character-listing-current {
    color: var(--cs-color-bg);
    background-color: var(--cs-color-accent);
}

/* RIGHT PANE */
#cs-current-character {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#cs-current-character-heading {
    font-size: var(--cs-font-size-lg);
    background-color: var(--cs-color-accent);
    color: var(--cs-color-bg);
    position: sticky;
    top: 0;
}

.cs-panels {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* CONSTANTS */
.cs-color-accent {
    background: var(--cs-color-accent)
}

.cs-color-btn {
    background: var(--cs-color-btn);
}

.cs-font-size-sm {
    font-size: var(--cs-font-size-sm);
}

.cs-font-color-deemphasized {
    color: var(--cs-color-text-deemphasized);
}

/* LAYOUT */
.cs-col {
    /* Flex Column */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: var(--cs-gap);

    /*background: var(--cs-color-debug-col);*/
}

.cs-row {
    /* Flex Row */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: var(--cs-gap);

    /*background: var(--cs-color-debug-row);*/
}

.cs-elem {
    /* Flex Element, should only contain simple contents such as text */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: var(--cs-height-min);

    /*background: var(--cs-color-debug-elem);*/
}

.cs-padding-h {
    /* Horizontal Padding, prefer gap in flex rows and columns in most cases */
    padding-left: var(--cs-padding);
    padding-right: var(--cs-padding);
    box-sizing: border-box; /* prevents overflow */
}

.cs-padding-v {
    /* Vertical Padding, prefer gap in flex rows and columns in most cases */
    padding-top: var(--cs-padding);
    padding-bottom: var(--cs-padding);
}

.cs-width-fixed-short-key {
    /* Fixed width for short keys in entries */
    width: var(--cs-width-fixed-short-key);
    min-width: var(--cs-width-fixed-short-key);
}

.cs-width-fill {
    /* Used to allow elements to grow as much as required to prevent line breaks */
    flex-shrink: 0;
}

.cs-width-full {
    /* Used to cause an element to take up as much width as possible */
    width: 100%;
}

.cs-width-divider-left {
    /* Width of the left side of the section divider */
    width: var(--cs-width-divider-left)
}

/* COMPONENTS */
.arrow-line {
    /* Base component for horizontal arrows, must be paired with either arrow-line-left or arrow-line-right */
    align-items: center;
    position: relative;
    display: flex;
    height: 1px;
    background-color: var(--cs-color-btn);
}

.arrow-line::after {
    /* Arrowhead for horizontal arrows */
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.arrow-line-left::after {
    /* When paired with arrow-line, draws an arrow pointing to the left */
    left: 0;
    border-left: 4px solid var(--cs-color-btn); /* Adjust the color and size of the arrow */
}

.arrow-line-right::after {
    /* When paired with arrow-line, draws an arrow pointing to the right */
    right: 0;
    border-right: 4px solid var(--cs-color-btn); /* Adjust the color and size of the arrow */
}

.cs-btn {
    /* Button, should be paired with a color */
    filter: brightness(150%);
    height: var(--cs-height-min);
    align-items: center;
    display: flex;
    border-radius: 2px;
    user-select: none;
    transition: brightness 0.1s ease, filter 0.1s ease;
    cursor: pointer;
}

.cs-btn:hover {
    filter: brightness(100%);
}

.cs-btn:active {
    scale: 97%;
}
