@font-face {
    font-family: 'HammerBro';
    src: local('HammerBro101MovieReg-Regular'), url(/static/HammerBro101MovieReg-Regular.ttf) format('truetype');
}

@media screen and (max-width: 1222px) {
    .hide-when-narrow {
        display: none !important;
    }
}

@media screen and (min-width: 1222px) {
    .show-when-narrow {
        display: none !important;
    }
}

:root {
    --bg: #222033;
    --text: #e8e6e3;

    --font-family: "HammerBro";
    --line-break: 30px;
    --page-margin: 8%;

    --character-sheet-control-panel-gap: 10px;
    --table-cell-spacing: 10px;
    --character-card-size: 200px;
}

body {
    background-color: var(--bg);
    box-sizing: border-box; /* include margin in width */
    color: var(--text);
    font-family: var(--font-family);
    margin: var(--page-margin);
    width: 84%;
}

a, a:visited {
    color: #729CF5;
}

/* character sheet is as wide as possible*/
body.character-sheet {
    margin: 0% 1% 0% 1% !important;
    width: 98%; /* minus the margins */
    font-size: 20px;
}

.bgimg {
    background-attachment: fixed;
    background-position: center center;
    background-size: 50%;
    position: absolute;
}

#main {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--page-margin);
    width: 100%;
}

#name {
    background-color: var(--text);
    color: var(--bg);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    width: fit-content;
}

#name, .contents-item {
    padding: 10px;
}

#name > a, .contents-item > a {
    color: inherit;
    text-decoration: none;
}

.contents-item {
    font-size: 45px;
    width: fit-content;
    background-color: black;
}

/* #name sets the margin to the first contents-item */
.contents-item:not(:first-of-type) {
    margin-top: 10px;
}

.slideshow-container, .writing {
    font-size: 25px;
    background: black;
    padding: 40px;
}

/* take full control of bare html elements in text-y pages*/
.writing h1 {
    color: #ACE16E;
    margin: 0;
}

.writing h2 {
    color: #80BA50;
    margin: 0;
}

.writing h3 {
    color: #549171;
    margin: 0;
}

.writing p {
    margin: 0;
}

.writing ul {
    margin: 0;
}

.writing .table ul {
    margin-left: calc(-1 * var(--table-cell-spacing));
}

/* splash of color for important words */
.terminology {
    color: #CF7641;
}

.race {
    color: #85703E;
}

/* art page */
.gallery-titlebar {
    display: flex;
}

.titleart {
    height: 80.5px;
    padding-left: 10px;
}

#slidenext, #slideprev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
}

#slidenext {
    right: 0;
}

.slide {
    justify-content: center;
}

.artwork {
    position: relative;
    display: inline;
    width: fit-content;
    align-self: center;
}

.slideimg {
    height: 60vh;
}

.avatar {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.avatar-image {
    width: 100px;
    border-radius: 50px;
}

/* tables */
.table {
    display: flex;
    flex-direction: row;
}

.table.table-as-rows {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-column {
    flex: 1;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: var(--table-cell-spacing);
    overflow: hidden;
}

.table-column:nth-last-of-type(1) {
    border-right: 1px solid grey;
}

.table-row:nth-last-of-type(1) {
    border-bottom: 1px solid grey;
}

.table-header {
    background-color: white !important;
    color: black;
    position: sticky;
    top: 0;
}

.table .table-row:nth-child(even) {
    background-color: #353C39;
}

.table .table-row.non-alternating:nth-child(even) {
    background-color: transparent !important;
}

.empty-column {
    background: repeating-linear-gradient(
        -45deg,
        gray 0px 1px,
        transparent 0px 10px
    );
}

.heading-column {
    background-color: white;
    color: black;
    font-weight: bold;
}

.big-left-border .table-column:first-of-type {
    border-left-width: 10px;
    border-left-color: grey;
}

/* character sheet page */
/* top row */
#cs-name-heading {
    font-size: 50px;
    max-width: 30%;
    white-space: nowrap;
    margin-right: var(--character-sheet-control-panel-gap);
    overflow: clip;
    text-overflow: ellipsis;
}

#references {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.cs-control-panel {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;

    /* to allow it to always be at the top */
    position: sticky;
    top: 0;
    background-color: var(--bg);
}

.cs-control-button, .die {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.spacer {
    width: 100%;
}

#die-result {
    font-size: 40px;
    min-width: 50px;
    background-color: rgba(96, 112, 215, 0.5);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: var(--character-sheet-control-panel-gap);
}

#character-sheet .table-column {
    white-space: nowrap;
}

.block-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#character-sheet input {
    border: 0;
    margin-right: var(--character-sheet-control-panel-gap);
    padding: 0;
    border-bottom: 1px solid rgba(172, 225, 110, 0.5);
    outline: none;
    width: 100%;
    font-size: inherit;
    font-family: var(--font-family);
    color: #ACE16E;
    background-color: transparent;
}

#cs-export {
    margin-right: var(--character-sheet-control-panel-gap);
}

#uploader-label {
    cursor: pointer;
    height: 0px;
}

#uploader {
    display: none;
}

#cs-lock-sheet {
    margin-right: var(--character-sheet-control-panel-gap);
}

#cs-delete-sheet {
    margin-right: var(--character-sheet-control-panel-gap);
}

#cs-unlock-sheet {
    margin-right: var(--character-sheet-control-panel-gap);
}

#cs-switch-character {
    margin-right: var(--character-sheet-control-panel-gap);
}

#page-spellbook .table {
    margin-top: 50px;
}

#page-game-details .table {
    margin-top: 50px;
}

#page-game-details textarea {
    width: 100%;
    padding: 10px 0px 0px 5px;
    font-size: 20px;
    margin: 0;
    background-color: var(--bg);
    color: white;
    border: none;
    resize: none;
    outline: none;
    height: 300px;
}

#character-sheet.blurred {
    opacity: 0.5;
    filter: blur(3px);
}

#character-switcher-modal {
    display: flex;
    width: 98%;
    position: fixed;
    padding-top: 20px;
    flex-direction: column;
    z-index: 1000;
}

#character-creation-options {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.character-creation-option {
    display: flex;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 15%;
    flex-direction: column;
    justify-contet: center;
    align-content: center;
    align-self: center
}

.character-creation-option h1 {
    align-self: center
}

.character-creation-option:hover {
    background-color: #FFFFFF26;
}

#character-switcher-modal {
    display: flex;
    width: 98%;
    position: fixed;
    padding-top: 20px;
    flex-direction: column;
    z-index: 1000;

    align-content: center;
    align-self: center;
    align-items: center;
}

#character-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.character-card {
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    flex-direction: column;
    justify-contet: center;
    align-content: center;
}

.character-card:hover {
    background-color: #FFFFFF26;
}

.character-letter {
    font-size: var(--character-card-size);
    width: var(--character-card-size);
    height: var(--character-card-size);
    border-radius: calc(0.5 * var(--character-card-size));
    background-color: black;
    color: white;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.character-name {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    width: var(--character-card-size);
}

#character-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

#character-controls .cs-control-button {
    cursor: pointer;
    width: 100px;
    height: 100px;

    font-size: 60px;
    font-weight: bold;
    color: var(--text);
}

.hidden {
    display: none !important;
}

.has-tooltip:hover .tooltiptext {
    visibility: visible;
}

.has-tooltip .tooltiptext {
    visibility: hidden;
    top: 10%;
    left: calc(50% - 400px);
    width: 800px;
    background-color: var(--bg);
    color: white;
    border: 10px solid black;
    border-radius: 10px;
    padding: 10px;
    white-space: normal;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}

.smallfont {
    font-size: 10px;</v
}

.tooltiptext h1 {
    margin: 0;
}

.tooltiptext .table {
    margin-top: 0 !important;
}

.tooltiptext .table-column {
    border-left-width: 1px !important;
    margin-top: 0 !important;
}


/* custom dropdowns */
/* hide original SELECT element */
.custom-select select {
    display: none;
}

.custom-select {
    position: relative;
    width: 100%;
}

/* hide custom select list when closed */
.select-hide {
    display: none;
}

.select-items {
    /* position: fixed; */
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 200px;
    overflow: scroll;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 7px 0px 7px 0px;
    cursor: pointer;
    margin-right: 10px;
    overflow: hidden;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "▼";
    right: 10px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    content: "▲";
    top: 5px;
}
