@font-face {
  font-family: 'Libre Caslon Text';
  src: local('Libre Caslon Text Regular'), url(/static/LibreCaslonText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Iosevka Comfy';
  src: local('iosevka-comfy-regular'), url(/static/iosevka-comfy-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HammerBro';
  src: local('HammerBro101MovieReg-Regular'), url(/static/HammerBro101MovieReg-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MSDOS';
  src: local('MSDOS'), url(/static/MSDOS.ttf) format('truetype');
}

:root {
  --bg: #222033;
  --text: #e8e6e3;
  --font-family: "HammerBro";
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: var(--font-family);
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
  padding: 0;
  width: 84%;
}

.bgimg {
  background-image: url('/static/images/map2.png');
  background-size: 50%;
  background-position: center center;
  position: absolute;
  background-attachment: fixed;
}

.notopmargin {
  margin-top: 1% !important;
}

.lesssidemargin {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
}

#main {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 100%;
}

#name {
  font-size: 60px;
  font-weight: bold;
  background-color: var(--text);
  color: var(--bg);
  width: fit-content;
  padding: 10px 10px 10px 10px;
  margin-bottom: 30px;
}

#contents {
  margin-bottom: 200px;
}

#footer {
  font-size: 60px;
  font-weight: bold;
}

.contents-item {
  font-size: 45px;
  width: fit-content;
  margin-top: 10px;
  background-color: black;
  padding: 10px 10px 10px 10px;
}

.writing {
  font-size: 25px;
  margin-top: 10px;
  background: black;
  padding: 10px 10px 10px 10px;
}

.writing > h1 {
  color: #ACE16E;
}

.writing > h2 {
  color: #80BA50;
}

.writing > h3 {
  color: #549171;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: #729CF5;
  text-decoration: underline;
}

.hyperlink:visited {
  color: #729CF5;
}

.terminology {
  color: #CF7641;
}

.race {
  color: #85703E;
}
/* tables */
.table {
  display: flex;
  flex-direction: row;
}

.table.table-as-rows {
    display: flex;
    flex-direction: column;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-column {
  flex: 1;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  overflow: hidden;
}

.table-column:nth-last-of-type(1) {
    border-right: 1px solid grey;
}

.table-row:nth-last-of-type(1) {
    border-bottom: 1px solid grey;
}

.table-header {
  background-color: white !important;
  color: black;
  position: sticky;
  top: 0;
}

.table .table-row:nth-child(even) {
  background-color: #353C39;
}

.table .table-row.non-alternating:nth-child(even) {
  background-color: transparent !important;
}

.empty-column {
    background: repeating-linear-gradient(
        -45deg,
        gray 0px 1px,
        transparent 0px 10px
    );
}

.heading-column {
    background-color: white;
    color: black;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.big-left-border .table-column:first-of-type {
    border-left-width: 10px;
    border-left-color: grey;
}

/* character sheet page */
#character-sheet .table-column {
  white-space: nowrap;
}

.character-sheet-heading {
  text-align: center;
}

.block-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.spacer {
  width: 100%;
}

.left-heading {
  align-self: center;
  margin-right: auto;
}

.character-tables {
  width: 60%;
}

.character-tables > h3 {
  margin: 12px 0px 12px 0px;
}

.ability-table {
  width: 40%;
  margin-left: 10px;
}

.weapons-table {
  width: 70%;
}

.weapon-prof-table {
  width: 30%;
  margin-left: 10px;
}

input {
  border: 0;
  margin-left: 10px;
  margin-right: 15px;
  border-bottom: 1px solid rgba(172, 225, 110, 0.5);
  outline: none;
  width: 100%;
  font-size: inherit;
  font-family: var(--font-family);
  color: #ACE16E;
  background-color: transparent;
}

.cs-control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.cs-control-button, .die {
  cursor: pointer;
  width: 50px;
  height: 50px;

  font-size: 60px;
  font-weight: bold;
  color: var(--text);
}

#cs-name-heading {
  font-family: var(--font-family);
  border: none;
  font-size: 50px;
  outline: none;
  align-self: center;
  color: white;
  width: fit-content;
  white-space: nowrap;
  margin-right: 10px;
}

.filler {
  width: 100%;
}

#die-result {
  font-family: var(--font-family);
  font-size: 40px;
  width: 200px;
  background-color: rgba(96, 112, 215, 0.5);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
}

#cs-export {
  margin-right: 10px;
}

#uploader-label {
  cursor: pointer;
  height: 0px;
  margin-right: 10px;
}

#uploader {
  display: none;
}

#cs-lock-sheet {
  margin-right: 10px;
}

#cs-unlock-sheet {
    margin-right: 10px;
}

#cs-switch-character {
    margin-right: 10px;
}

/* art page */
.slideshow-container {
  width: 100%;
  height: 60vh;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--bg);
}

.slideimg {
  height: 60vh;
}

#slideprev, #slidenext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10px;
  user-select: none;
}

.slide {
  justify-content: center;
}

#slidenext {
  right: 0;
}

.gallery-titlebar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.titleart {
  height: 92px;
  padding-left: 10px;
}

.hgallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hgallery .art {
  height: 200px;
}

.artwork {
  position: relative;
  display: inline;
  width: fit-content;
  align-self: center;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.avatar-image {
  width: 100px;
  border-radius: 50px;
}

#page-spellbook .table {
    margin-top: 50px;
}

.character-letter {
    font-size: 200px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: black;
    color: white;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}

#character-switcher {
    display: flex;
    width: 100%;
    position: fixed;
    margin-top: auto;
    flex-direction: column;
    z-index: 1000;
}

#character-cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#character-sheet.blurred {
    opacity: 0.5;
    filter: blur(3px);
}

.character-card {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-contet: center;
    align-content: center;
}

.character-name {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}

#character-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

#character-controls .cs-control-button {
    cursor: pointer;
    width: 100px;
    height: 100px;

    font-size: 60px;
    font-weight: bold;
    color: var(--text);
}
