@font-face {
  font-family: 'Libre Caslon Text';
  src: local('Libre Caslon Text Regular'), url(/static/LibreCaslonText-Regular.ttf) format('truetype');
}

:root {
  --bg: #181a1b;
  --text: #e8e6e3;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: "Libre Caslon Text";
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
  min-width: fit-content;
}

#main {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

#name {
  font-size: 60px;
  font-weight: bold;
  background-color: var(--text);
  color: var(--bg);
  width: fit-content;
  padding: 10px 10px 10px 10px;
  margin-bottom: 30px;
}

#contents {
  margin-bottom: 200px;
}

#footer {
  font-size: 60px;
  font-weight: bold;
}

.contents-item {
  font-size: 45px;
  margin-top: 10px;
}

.contents-subitem {
  font-size: 25px;
  margin-top: 10px;
}

.contents-subitem.writing {
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

.hyperlink {
  color: inherit;
  text-decoration: underline;
}

.hyperlink:visited {
  color: inherit;
  text-decoration: underline;
 }

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hgallery {
  display: flex;
  flex-direction: row;
}

.vgallery {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.hgallery .art {
  height: 200px;
}

.art {
  align-self: center;
  max-width: 84vw;
  max-height: 84vh;
}

/* tables */
.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-column {
  flex: 1;
  border: 1px solid white;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.table-column:not(:nth-last-of-type(1)) {
  border-right: 1px solid white;
}

.table-header {
  border-bottom: 1px solid white;
  background-color: white;
  color: black;
}

.table .table-row:nth-child(even){
  background-color: #333333;
  max-width: 84vw;
}

/* Character sheet-specific */

.character-sheet-heading {
  text-align: center;
}

.block-row {
  display: flex;
  flex-direction: row;
}

.block-col {
  display: flex;
  flex-direction: column;
}

.spacer {
  width: 100%;
}

h2 {
  white-space: nowrap;
}

.character-tables {
  width: 60%;
}

.character-tables > h3 {
  margin: 10px 0px 10px 0px;
}

.ability-table {
  width: 40%;
  margin-left: 10px;
}

.weapons-table {
  width: 70%;
}

.weapon-prof-table {
  width: 30%;
  margin-left: 10px;
}
