<!DOCTYPE html>
{% include 'head.html' %}
<body class="notopmargin nobg lesssidemargin">
    <div id="main">
        <div id="contents">
            <form id="character-sheet">
                <div class="cs-control-panel">
                    <img id="cs-export" class="cs-control-button" title="Download" src="/static/images/download.png">
                    <select id="cs-saved-names">
                        <option selected>New character</option>
                    </select>

                    <label id="uploader-label" for="uploader"><img id="cs-import" class="cs-control-button" title="Upload" src="/static/images/upload.png"></label>
                    <input type="file" id="uploader" name="uploader"/>
                </div>
                <div id="die-set">
                    <img title="d4" class="die" src="/static/images/d4.png">
                    <img title="d6" class="die" src="/static/images/d6.png">
                    <img title="d8" class="die" src="/static/images/d8.png">
                    <img title="d10" class="die" src="/static/images/d10.png">
                    <img title="d12" class="die" src="/static/images/d12.png">
                    <img title="d20" class="die" src="/static/images/d20.png">
                    <img title="d100" class="die" src="/static/images/d100.png">
                    <div id="die-result">
                    </div>
                </div>
                <div class="table" id="page-main-character-sheet">
                    <div class="block-col">
                        <div class="block-row">
                            <div class="table-column heading-column">Character</div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Name</div>
                            <div class="table-column"><input id="cs-name"></div>
                            <div class="table-column">Hit Points</div>
                            <div class="table-column"><input id="cs-hit-points-current">/<input id="cs-hit-points"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Race</div>
                            <div class="table-column"><input id="cs-race"></div>
                            <div class="table-column">Armor Class</div>
                            <div class="table-column"><input id="cs-armor-class"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Total Hit Die</div>
                            <div class="table-column"><input id="cs-total-hit-die"></div>
                            <div class="table-column">Experience</div>
                            <div class="table-column"><input id="cs-experience"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Fighter Level</div>
                            <div class="table-column"><input id="cs-level-fighter"></div>
                            <div class="table-column">Warlock Level</div>
                            <div class="table-column"><input id="cs-level-warlock"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Rogue Level</div>
                            <div class="table-column"><input id="cs-level-rogue"></div>
                            <div class="table-column">Mage Level</div>
                            <div class="table-column"><input id="cs-level-mage"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Ability Score</div>
                            <div class="table-column heading-column">Base</div>
                            <div class="table-column heading-column">Modifier</div>
                            <div class="table-column heading-column">Save Throw</div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Strength</div>
                            <div class="table-column"><input id="cs-strength"></div>
                            <div class="table-column"><input id="cs-strength-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Dexterity</div>
                            <div class="table-column"><input id="cs-dexterity"></div>
                            <div class="table-column"><input id="cs-dexterity-modifier"></div>
                            <div class="table-column"><input id="cs-dexterity-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Constitution</div>
                            <div class="table-column"><input id="cs-constitution"></div>
                            <div class="table-column"><input id="cs-constitution-modifier"></div>
                            <div class="table-column"><input id="cs-constitution-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Wisdom</div>
                            <div class="table-column"><input id="cs-wisdom"></div>
                            <div class="table-column"><input id="cs-wisdom-modifier"></div>
                            <div class="table-column"><input id="cs-wisdom-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Intelligence</div>
                            <div class="table-column"><input id="cs-intelligence"></div>
                            <div class="table-column"><input id="cs-intelligence-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Charisma</div>
                            <div class="table-column"><input id="cs-charisma"></div>
                            <div class="table-column"><input id="cs-charisma-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Equipment</div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Armor</div>
                            <div class="table-column"><input id="cs-equipment-armor"></div>
                            <div class="table-column">Neck</div>
                            <div class="table-column"><input id="cs-equipment-neck"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Shield</div>
                            <div class="table-column"><input id="cs-equipment-shield"></div>
                            <div class="table-column">Ring 1</div>
                            <div class="table-column"><input id="cs-equipment-ring-1"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Gloves</div>
                            <div class="table-column"><input id="cs-equipment-gloves"></div>
                            <div class="table-column">Ring 2</div>
                            <div class="table-column"><input id="cs-equipment-ring-2"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Boots</div>
                            <div class="table-column"><input id="cs-equipment-boots"></div>
                            <div class="table-column">Other</div>
                            <div class="table-column"><input id="cs-equipment-other-1"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Cloak</div>
                            <div class="table-column"><input id="cs-equipment-cloak"></div>
                            <div class="table-column">Other</div>
                            <div class="table-column"><input id="cs-equipment-other-2"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Weapons</div>
                            <div class="table-column heading-column">Bonus to Hit</div>
                            <div class="table-column heading-column">Damage</div>
                            <div class="table-column heading-column">Features</div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-weapon-name"></div>
                            <div class="table-column"><input class="cs-weapon-bonus-to-hit"></div>
                            <div class="table-column"><input class="cs-weapon-damage"></div>
                            <div class="table-column"><input class="cs-weapon-features"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-weapon-name"></div>
                            <div class="table-column"><input class="cs-weapon-bonus-to-hit"></div>
                            <div class="table-column"><input class="cs-weapon-damage"></div>
                            <div class="table-column"><input class="cs-weapon-features"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-weapon-name"></div>
                            <div class="table-column"><input class="cs-weapon-bonus-to-hit"></div>
                            <div class="table-column"><input class="cs-weapon-damage"></div>
                            <div class="table-column"><input class="cs-weapon-features"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-weapon-name"></div>
                            <div class="table-column"><input class="cs-weapon-bonus-to-hit"></div>
                            <div class="table-column"><input class="cs-weapon-damage"></div>
                            <div class="table-column"><input class="cs-weapon-features"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Base Attack Bonus</div>
                            <div class="table-column"><input id="cs-base-attack-bonus"></div>
                            <div class="table-column">Number of Attacks</div>
                            <div class="table-column"><input id="cs-number-of-attacks"></div>
                        </div>
                    </div>
                    <div class="block-col big-left-border">
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Allowed Weapons</div>
                            <div class="table-column"><input id="cs-allowed-weapons"></div>
                            <div class="table-column heading-column">Allowed Armor</div>
                            <div class="table-column"><input id="cs-allowed-armor"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Skill Proficiencies</div>
                            <div class="table-column"><input id="cs-skill-proficiencies"></div>
                            <div class="table-column">Skill Check Bonus</div>
                            <div class="table-column"><input id="cs-skill-check-bonus"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Inventory</div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                            <div class="table-column heading-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column">Silver</div>
                            <div class="table-column"><input id="cs-silver"></div>
                        </div>
                    </div>
                </div>
                <div id="page-spellbook" class="class-specific for-mage for-warlock">
                    <div class="table for-warlock">
                        <div class="block-col">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Warlock Spells</div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">1st Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Max Minor Patrons</div>
                                <div class="table-column"><input id="cs-max-minor-patrons"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">2nd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">3rd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">4th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">5th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table for-mage">
                        <div class="block-col">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Mage Spells</div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">1st Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Max Spells Learnable per Degree</div>
                                <div class="table-column"><input id="cs-max-spells-learnable-per-degree"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">2nd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">3rd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">4th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">5th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column"><input class="cs-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/static/character-sheet.js"></script>
