<!DOCTYPE html>
<head>
    <title>mythmancer | {{ tab_title }}</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/character-sheet.css">
    <meta charset="utf-8"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body class="character-sheet">
    <div id="cs-container">
        <div id="cs-left-pane">
            <div id="cs-mythmancer-title" class="cs-padding-v">MYTHMANCER</div>

            <div class="cs-character-listing-section cs-left-pane-section">
                <div class="cs-left-pane-heading-row">
                    <div class="cs-heading-decor-left"><hr></div>
                    Characters
                    <div class="cs-heading-decor-right"><hr></div>
                </div>
                <div id="cs-character-listings" class="cs-left-pane-section"></div>
                <div class="cs-left-pane-listing" id="cs-new-character-button">+ New Character</div>
            </div>

            <div class="cs-game-reference-section cs-left-pane-section">
                <div class="cs-left-pane-heading-row">
                    <div class="cs-heading-decor-left"><hr></div>
                    <div class="cs-heading">Game Reference</div>
                    <div class="cs-heading-decor-right"><hr></div>
                </div>
                <div class="cs-left-pane-listing">Game Rules</div>
                <div class="cs-left-pane-listing">Mage Spell List</div>
                <div class="cs-left-pane-listing">Warlock Spell List</div>
            </div>
            <div class="cs-filler-v"></div>

            <div class="cs-die-log-section cs-left-pane-section">
                <div class="cs-left-pane-heading-row">
                    <div class="cs-heading-decor-left"><hr></div>
                    <div class="cs-heading">Die Log</div>
                    <div class="cs-heading-decor-right"><hr></div>
                </div>
                <div id="cs-die-log"></div>
            </div>

            <div class="cs-settings-section cs-left-pane-section">
                <div class="cs-left-pane-heading-row">
                    <div class="cs-heading-decor-left"><hr></div>
                    <div class="cs-heading">Settings</div>
                    <div class="cs-heading-decor-right"><hr></div>
                </div>
                <div id="cs-settings"></div>
            </div>
        </div>
        <div id="cs-right-pane"></div>
    </div>
</body>
<script src="/static/character-sheet-v2.js"></script>
