<!DOCTYPE html>
{% include 'head.html' %}
<body class="character-sheet">
    <div id="main">
        <div id="contents">
            <div id="character-switcher-modal">
                <div id="character-cards">
                    <div class="character-card" id="cs-new-character">
                        <div class="character-letter">
                            +
                        </div>
                        <div class="character-name">
                            New Character
                        </div>
                    </div>
                </div>
                <div id="character-controls">
                    <img id="cs-export" class="cs-control-button" title="Download" src="{{ static_url }}/images/download.png">
                    <label id="uploader-label" for="uploader"><img id="cs-import" class="cs-control-button" title="Upload" src="{{ static_url }}/images/upload.png"></label>
                    <input type="file" id="uploader" name="uploader"/>
                </div>
            </div>
            <div id="character-creation-modal" class="hidden">
                <div id="character-creation-options">
                    <div class="character-creation-option">
                        <div class="table table-as-rows">
                            <div class="table-row non-alternating">
                                <div class="table-column">Strength</div>
                                <div class="table-column opt-strength"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Dexterity</div>
                                <div class="table-column opt-dexterity"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Constitution</div>
                                <div class="table-column opt-constitution"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Wisdom</div>
                                <div class="table-column opt-wisdom"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Intelligence</div>
                                <div class="table-column opt-intelligence"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Charisma</div>
                                <div class="table-column opt-charisma"></div>
                            </div>
                        </div>
                    </div>
                    <div class="character-creation-option">
                        <div class="table table-as-rows">
                            <div class="table-row non-alternating">
                                <div class="table-column">Strength</div>
                                <div class="table-column opt-strength"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Dexterity</div>
                                <div class="table-column opt-dexterity"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Constitution</div>
                                <div class="table-column opt-constitution"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Wisdom</div>
                                <div class="table-column opt-wisdom"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Intelligence</div>
                                <div class="table-column opt-intelligence"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">Charisma</div>
                                <div class="table-column opt-charisma"></div>
                            </div>
                        </div>
                    </div>
                    <div class="character-creation-option from-scratch">
                        <h1>From Scratch</h1>
                    </div>
                </div>
            </div>
            <form id="character-sheet" class="blurred">
                <div class="cs-control-panel">
                    <div id="cs-name-heading"></div>
                    <img id="cs-unlock-sheet" class="cs-control-button hide-when-narrow" title="Unlock sheet" src="{{ static_url }}/images/unlock.png">
                    <img id="cs-lock-sheet" class="cs-control-button hidden hide-when-narrow" title="Lock sheet" src="{{ static_url }}/images/lock.png">
                    <img id="cs-delete-sheet" class="cs-control-button hidden hide-when-narrow" title="Delete sheet" src="{{ static_url }}/images/trash.png">
                    <img id="cs-switch-character" class="cs-control-button" title="Switch character" src="{{ static_url }}/images/switch-character.png">
                    <img id="cs-fullscreen" class="cs-control-button" title="Fullscreen" src="{{ static_url }}/images/fullscreen.png">
                    <img id="cs-exit-fullscreen" class="cs-control-button hidden" title="Exit fullscreen" src="{{ static_url }}/images/exit-fullscreen.png">
                    <div class="spacer"></div>
                    <div id="references" class="hide-when-narrow">
                        <a href="https://docs.google.com/document/d/14x43yTIgARNvEX84At1Va_Q7aKe-2P49gLkG8y4xDaM/">Reference</a>
                        <a href="https://docs.google.com/spreadsheets/d/1xnD9tfYePZi798UFab_8C1It3cMDApO9TAsGHhdE1hA/">Mage Spells Worksheet</a>
                    </div>
                    <div class="spacer"></div>
                    <img title="d4" class="die hide-when-narrow" src="{{ static_url }}/images/d4.png">
                    <img title="d6" class="die" src="{{ static_url }}/images/d6.png">
                    <img title="d8" class="die hide-when-narrow" src="{{ static_url }}/images/d8.png">
                    <img title="d10" class="die hide-when-narrow" src="{{ static_url }}/images/d10.png">
                    <img title="d12" class="die hide-when-narrow" src="{{ static_url }}/images/d12.png">
                    <img title="d20" class="die" src="{{ static_url }}/images/d20.png">
                    <img title="d100" class="die" src="{{ static_url }}/images/d100.png">
                    <div id="die-result">
                    </div>
                </div>
                <div class="table" id="page-main-character-sheet">
                    <div class="block-col">
                        <div class="table-row">
                            <div class="table-column heading-column">Character</div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Name</div>
                            <div class="table-column"><input id="cs-name"></div>
                            <div class="table-column">Hit Points</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-hit-points-current">/<input inputmode="numeric" id="cs-hit-points"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Race</div>
                            <div class="table-column"><input id="cs-race"></div>
                            <div class="table-column">Armor Class</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-armor-class"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Total Hit Die</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-total-hit-die"></div>
                            <div class="table-column">Experience</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-experience"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Fighter Level</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-level-fighter"></div>
                            <div class="table-column">Warlock Level</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-level-warlock"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Rogue Level</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-level-rogue"></div>
                            <div class="table-column">Mage Level</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-level-mage"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Ability Score</div>
                            <div class="table-column heading-column">Base</div>
                            <div class="table-column heading-column">Modifier</div>
                            <div class="table-column heading-column">Save Throw</div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Strength</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-strength"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-strength-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Dexterity</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-dexterity"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-dexterity-modifier"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-dexterity-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Constitution</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-constitution"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-constitution-modifier"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-constitution-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Wisdom</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-wisdom"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-wisdom-modifier"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-wisdom-save-throw"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Intelligence</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-intelligence"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-intelligence-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Charisma</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-charisma"></div>
                            <div class="table-column"><input inputmode="numeric" id="cs-charisma-modifier"></div>
                            <div class="table-column empty-column"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Equipment</div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Allowed Weapons</div>
                            <div class="table-column"><input id="cs-allowed-weapons"></div>
                            <div class="table-column">Allowed Armor</div>
                            <div class="table-column"><input id="cs-allowed-armor"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Armor</div>
                            <div class="table-column"><input id="cs-equipment-armor"></div>
                            <div class="table-column">Neck</div>
                            <div class="table-column"><input id="cs-equipment-neck"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Shield</div>
                            <div class="table-column"><input id="cs-equipment-shield"></div>
                            <div class="table-column">Ring 1</div>
                            <div class="table-column"><input id="cs-equipment-ring-1"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Gloves</div>
                            <div class="table-column"><input id="cs-equipment-gloves"></div>
                            <div class="table-column">Ring 2</div>
                            <div class="table-column"><input id="cs-equipment-ring-2"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Boots</div>
                            <div class="table-column"><input id="cs-equipment-boots"></div>
                            <div class="table-column">Other</div>
                            <div class="table-column"><input id="cs-equipment-other-1"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column">Cloak</div>
                            <div class="table-column"><input id="cs-equipment-cloak"></div>
                            <div class="table-column">Other</div>
                            <div class="table-column"><input id="cs-equipment-other-2"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Weapons</div>
                            <div class="table-column heading-column">Bonus to Hit</div>
                            <div class="table-column heading-column">Damage</div>
                            <div class="table-column heading-column">Features</div>
                        </div>
                        {%- for _ in range(data["num_weapons"]) %}
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-weapon-name"></div>
                            <div class="table-column"><input class="cs-weapon-bonus-to-hit"></div>
                            <div class="table-column"><input class="cs-weapon-damage"></div>
                            <div class="table-column"><input class="cs-weapon-features"></div>
                        </div>
                        {%- endfor %}
                        <div class="table-row non-alternating">
                            <div class="table-column">Base Attack Bonus</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-base-attack-bonus"></div>
                            <div class="table-column">Number of Attacks</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-number-of-attacks"></div>
                        </div>
                    </div>
                    <div class="block-col big-left-border">
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">
                                Skill Proficiencies, Domain Powers, Special Abilities, Notes
                            </div>
                        </div>
                        {%- for _ in range(data["num_misc_rows"]) %}
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                            <div class="table-column"><input class=cs-misc></div>
                        </div>
                        {%- endfor %}
                        <div class="table-row non-alternating">
                            <div class="table-column">Skill Proficiencies</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-skill-proficiencies"></div>
                            <div class="table-column">Skill Check Bonus</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-skill-check-bonus"></div>
                        </div>
                        <div class="table-row non-alternating">
                            <div class="table-column heading-column">Inventory</div>
                        </div>
                        {%- for _ in range(data["num_inventory_rows"]) %}
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                        </div>
                        {%- endfor %}
                        <div class="table-row non-alternating">
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column"><input class="cs-inventory"></div>
                            <div class="table-column">Silver</div>
                            <div class="table-column"><input inputmode="numeric" id="cs-silver"></div>
                        </div>
                    </div>
                </div>
                <div id="page-spellbook" class="class-specific for-mage for-warlock">
                    <div class="table for-warlock">
                        <div class="block-col">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Warlock Spells</div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">1st Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Bless - Basic</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Command</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Cure Light Wounds</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Detect Alignment</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Detect Magic</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Light</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Protection from Alignment</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Purify Food and Drink</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Remove Fear</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Sanctuary</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-w1"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Max Minor Patrons</div>
                                <div class="table-column"><input id="cs-max-minor-patrons"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">2nd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Augury</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Chant</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Detect Charm</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Find Traps</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Hold Person</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Know Alignment</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Resist Element</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Silence, 15-ft Radius</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Slow Poison</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Spiritual Weapon</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-w2"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">3rd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Continual Light</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Create Food and Water</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Cure Blindness/Deafness</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Dispel Magic</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Glyph of Warding</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Prayer</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Remove Curse</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Speak with Dead</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-w3"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">4th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Cure Serious Wounds</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Detect Lie</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Divination</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Exorcise</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Neutralise Poison</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Pro. From Alignment 10-ft R.</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Speak with Plants</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-w4"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">5th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Atonement</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Commune</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Cure Critical Wounds</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Dispel Evil</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">Quest</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">True Seeing</div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip"><input class="cs-warlock-spell-name"></div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-w5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table for-mage">
                        <div class="block-col">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Mage Spells</div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">1st Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            {%- for _ in range(data["num_mage_spells"]) %}
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">
                                    <div class="custom-select">
                                        <select class="cs-mage-spell-name">
                                        </select>
                                    </div>
                                </div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            {%- endfor %}
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-m1"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Max Spells Learnable per Degree</div>
                                <div class="table-column"><input id="cs-max-spells-learnable-per-degree"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">2nd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            {%- for _ in range(data["num_mage_spells"]) %}
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">
                                    <div class="custom-select">
                                        <select class="cs-mage-spell-name">
                                        </select>
                                    </div>
                                </div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            {%- endfor %}
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-m2"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">3rd Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            {%- for _ in range(data["num_mage_spells"]) %}
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">
                                    <div class="custom-select">
                                        <select class="cs-mage-spell-name">
                                        </select>
                                    </div>
                                </div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            {%- endfor %}
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-m3"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">4th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            {%- for _ in range(data["num_mage_spells"]) %}
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">
                                    <div class="custom-select">
                                        <select class="cs-mage-spell-name">
                                        </select>
                                    </div>
                                </div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            {%- endfor %}
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-m4"></div>
                            </div>
                        </div>
                        <div class="block-col big-left-border">
                            <div class="table-row non-alternating">
                                <div class="table-column empty-column"></div>
                                <div class="table-column empty-column"></div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column spell-level">5th Degree Spell</div>
                                <div class="table-column heading-column">Qty</div>
                            </div>
                            {%- for _ in range(data["num_mage_spells"]) %}
                            <div class="table-row non-alternating">
                                <div class="table-column spell-name has-tooltip">
                                    <div class="custom-select">
                                        <select class="cs-mage-spell-name">
                                        </select>
                                    </div>
                                </div>
                                <div class="table-column"><input class="cs-spell-qty"></div>
                            </div>
                            {%- endfor %}
                            <div class="table-row non-alternating">
                                <div class="table-column heading-column">Maximum Slots</div>
                                <div class="table-column"><input id="cs-slots-m5"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page-game-details">
                    <div class="table">
                        <div class="block-col">
                            <div class="table-row">
                                <div class="table-column heading-column">Game Details</div>
                            </div>
                            <div class="table-row non-alternating">
                                <div class="table-column">
                                    <textarea id="cs-game-details"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/static/character-sheet.js"></script>
